@model List<Event>
@{
    ViewData["Title"] = "Cart View";
}

<!DOCTYPE
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>TigerTix: @ViewData["Title"]</title>
</head>
<body>
    <h2>Cart</h2>
    <ul>
        @foreach (var ev in Model)
        {
            <li>@ev.Name - @ev.Date.ToShortDateString() - $@ev.Price</li>
        }
    </ul>
</body>
</html>