@{
    ViewData["Title"] = "Customer Support";
}

<!DOCTYPE
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>TigerTix: @ViewData["Title"]</title>
</head>
<body>
    <h1>Please reach us in one of the following ways:</h1>
    <h3>Phone Number:</h3>
    <p> 1(800)555-1010</p>
    <h3>Email:</h3>
    <p>support@tigertix.com</p>
</body>
</html>