@{
    ViewData["Title"] = "Signup Page";
}

<!DOCTYPE
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>TigerTix: @ViewData["Title"]</title>
</head>
<body>
    <h2>Sign Up</h2>
    <form method="post" action=@Url.Action("Homepage","Home")>
        <label for="email">Email:</label><br />
        <input type="text" id="email" name="email" /><br />
        
        <label for="cuid">CUID (if student):</label><br />
        <input type="text" id="cuid" name="cuid" /><br />

        <label for="username">Username:</label><br />
        <input type="text" id="username" name="username" /><br />

        <label for="password">Password:</label><br />
        <input type="password" id="password" name="password" /><br />

        <input type="submit" value="Create Account" />
    </form>
</body>
</html>